<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% load i18n %}
{% if user.is_authenticated %}
	<a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a>
    <a href="{% url 'controllers_index' %}">{% trans "My Domopi Boxes" %}</a>
    <a href="{% url 'controller_add' %}">{% trans "Add a Domopi Box" %}</a>
{% else %}
	<a href="{% url 'auth_login' %}">{% trans "Login" %}</a>
{% endif %}
{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li {% if msg.tags %} class="{{ msg.tags }}" {% endif %}>
                {{ msg.tags }}: {{ msg }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
