{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}{% trans "Sensor Management" %}{% endblock %}
{% block content %}

{% if sensors.count == 0 %}
<div class="alert alert-warning">
    {% trans "You have no Sensor registered yet with this Controller !" %}
</div>
{% else %}
<table class="table">
    {% for devid,device in tree.items %}
    <tr><th>
        {% trans 'Device' %} {{ devid }}
        {% if device.has_battery >= 0 %}
            {% if device.has_battery > 95 %}
                <img width="30" height="30" src="{% static 'images/battery-100.png' %}">
            {% elif device.has_battery > 75 %}
                <img width="30" height="30" src="{% static 'images/battery-80.png' %}">
            {% elif device.has_battery > 45 %}
                <img width="30" height="30" src="{% static 'images/battery-50.png' %}">
            {% elif device.has_battery > 25 %}
                <img width="30" height="30" src="{% static 'images/battery-30.png' %}">
            {% elif device.has_battery > 15 %}
                <img width="30" height="30" src="{% static 'images/battery-20.png' %}">
            {% else %}
                <img width="30" height="30" src="{% static 'images/battery-0.png' %}">
            {% endif %}
            {% trans 'Battery' %} {{ device.has_battery }} %
        {% endif %}
        {% if device.has_hidden %}<a class="btn btn-primary btn-xs" href="{% url 'sensor_all_unhide' key=device.key zid=device.zid devid=devid %}">{% trans "Show All Sensors" %}</a>{% endif %}
    </th></tr>
    <tr><td>
        <ul class="list-group">
        {% for instid,instance in device.items %}
            {% for sid,sensor in instance.items %}
              {% if not sensor.hidden %}
                {% if not sensor.is_battery %}
                    <li class="list-group-item">
                        <table width="100%"><tr><td width="20%">
                        <form method="post" action="{% url 'sensor_setdescr' key=sensor.key zid=sensor.zid devid=sensor.devid instid=sensor.instid sid=sensor.sid %}">
                        {% csrf_token %}
                        <input type="text" name="newname" value="{{ sensor.description }}">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        </form>
                        </td>
                            <td width="20%">&nbsp;&nbsp;
                                {% if sensor.devtype == 'switchBinary' %}
                                    {% if sensor.metrics.on_off %}<img width="40" height="40" src="{% static 'images/switch-on.png' %}">
                                    {% else %}<img width="40" height="40" src="{% static 'images/switch-off.png' %}">{% endif %}
                                {% elif sensor.is_temperature %}<img width="40" height="40" src="{% static 'images/temperature.png' %}">
                                {% elif sensor.is_light %}<img width="40" height="40" src="{% static 'images/luminosity.png' %}">
                                {% elif sensor.is_door %}
                                    {% if sensor.metrics.on_off %}<img width="40" height="40" src="{% static 'images/door-open.png' %}">
                                    {% else %}<img width="40" height="40" src="{% static 'images/door-closed.png' %}">{% endif %}
                                {% elif sensor.is_motion or sensor.is_tamper %}
                                    {% if sensor.metrics.on_off %}<img width="40" height="40" src="{% static 'images/motion-on.png' %}">
                                    {% else %}<img width="40" height="40" src="{% static 'images/motion-off.png' %}">{% endif %}
                                {% elif sensor.is_alarm %}<img width="40" height="40" src="{% static 'images/alarm.png' %}">
                                {% else %}
                                    <img width="40" height="40" src="{% static 'images/placeholder.png' %}">
                                {% endif %}
                                &nbsp;{{ sensor.devtype }}
                            </td>
                            <td width="10%">
                                <a class="btn btn-primary btn-xs" href="{% url 'sensor_hide' key=device.key zid=sensor.zid devid=sensor.devid instid=sensor.instid sid=sensor.sid %}">{% trans "Hide" %}</a>
                            </td>
                            <td width="20%">{{ sensor.last_update }}</td>
        <td width="20%">
            {% if sensor.metrics.probeTitle %}
               {{ sensor.metrics.probeTitle }}
            {% endif %}
            {% if sensor.metrics.is_level_number %}
                {{ sensor.metrics.level }} {{ sensor.metrics.scaleTitle }}
            {% else %}
                {% if sensor.metrics.on_off %} {% trans "ON" %} {% else %} {% trans "OFF" %} {% endif %}
            {% endif %}
        </td>
        <td width="10%">
            {% if sensor.devtype == 'switchBinary' %}
                {% if sensor.metrics.on_off %}
                    <a class="btn btn-danger" href="{% url 'sensor_cmd' key=sensor.key zid=sensor.zid devid=sensor.devid instid=sensor.instid sid=sensor.sid cmd='off' %}">{% trans "OFF" %}</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'sensor_cmd' key=sensor.key zid=sensor.zid devid=sensor.devid instid=sensor.instid sid=sensor.sid cmd='on' %}">{% trans "ON" %}</a>
                {% endif %}
            {% endif %}
        </td>
                        </tr></table>
                    </li>
                {% endif %} <!-- not a battery -->
              {% endif %} <!-- hidden -->
            {% endfor %}
        {% endfor %}
        </ul>
    </td></tr>
    {% endfor %}
</table>

{% if 0 %}
<table class="table">
    <tr><th>{% trans "Sensor Name" %}</th><th>{% trans "Sensor Type" %}</th><th>{% trans "Last Update" %}</th><th>{% trans "Status" %}</th><th>{% trans "Command" %}</th></tr>
{% for sensor in sensors %}
    <tr>
        <td>
            <form method="post" action="{% url 'sensor_setdescr' key=sensor.key zid=sensor.zid devid=sensor.devid instid=sensor.instid sid=sensor.sid %}">
                {% csrf_token %}
                <input type="text" name="newname" value="{{ sensor.description }}">
                <!-- <button type="submit" class="btn btn-info">{% trans 'Change Name' %}</button> -->
                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
            </form>
        </td>
        <td>{{ sensor.devtype }}</td>
        <td>{{ sensor.last_update }}</td>
        <td>
            {% if sensor.metrics.probeTitle %}
               {{ sensor.metrics.probeTitle }}
            {% endif %}
            {% if sensor.metrics.is_level_number %}
                {{ sensor.metrics.level }} {{ sensor.metrics.scaleTitle }}
            {% else %}
                {% if sensor.metrics.on_off %} {% trans "ON" %} {% else %} {% trans "OFF" %} {% endif %}
            {% endif %}
        </td>
        <td>
            {% if sensor.devtype == 'switchBinary' %}
                {% if sensor.metrics.on_off %}
                    <a class="btn btn-danger" href="{% url 'sensor_cmd' key=sensor.key zid=sensor.zid devid=sensor.devid instid=sensor.instid sid=sensor.sid cmd='off' %}">{% trans "OFF" %}</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'sensor_cmd' key=sensor.key zid=sensor.zid devid=sensor.devid instid=sensor.instid sid=sensor.sid cmd='on' %}">{% trans "ON" %}</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endif %}

{% endblock %}