{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <title>{% block title %}{% endblock %}</title>
    <script>
        function confirmBox() {
            //return bootbox.dialog("{% trans "Do you confirm ?" %}");
            return confirm("{% trans "Do you confirm ?" %}");
        }
    </script>
</head>
<body>

<div class="container">
    <div class="row">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/frontend">Domopi</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

{% if user.is_authenticated %}
	<li class="inactive"><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
    <li class="{{ menu_profile }}"><a href="{% url 'user_edit' %}">{% trans "My Profile" %}</a></li>
    <li class="{{ menu_myboxes }}"><a href="{% url 'controllers_index' %}">{% trans "My Domopi Boxes" %}</a></li>
    <li class="{{ menu_addbox }}"><a href="{% url 'controller_add' %}">{% trans "Add a Domopi Box" %}</a></li>
          {% if key %}
            <li class="{{ menu_rules }}"><a href="{% url 'automation' key=key %}">{% trans "Manage Automation Rules" %}</a></li>
          {% endif %}
{% else %}
	<li class="active"><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
	<li class="active"><a href="{% url 'auth_subscribe' %}">{% trans "Sign Up" %}</a></li>
{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        </div>


    <div class="row">
        {% bootstrap_messages %}

        {% block content %}
        {% endblock %}
    </div>
</div><!-- /.container -->

    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block more_js %}{% endblock %}
</body>
</html>