{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load formset_tags %}
{% block title %}{% trans "Edit your Automation Rule" %}{% endblock %}
{% block content %}

<legend>{% trans 'Edit your Automation Rule' %}</legend>
<form id="rule_form" action="{% url 'rule_edit' key=contr.key rid=rule.description %}" method="post">
    {% bootstrap_form form %}
    {% bootstrap_form_errors form %}
    {% csrf_token %}

    {{ condition_formset.management_form }}
    {% for condition_form in condition_formset %}
        <div class="condition-formset">
            {% bootstrap_form condition_form %}
            {% bootstrap_form_errors condition_form %}
        </div>
    {% endfor %}

    {{ action_formset.management_form }}
    {% for action_form in action_formset %}
        <div class="action-formset">
        {% bootstrap_form action_form %}
        {% bootstrap_form_errors action_form %}
        </div>
    {% endfor %}

    {% buttons %}
        <a class="btn btn-default" href="{% url 'automation' key=contr.key %}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Cancel" %}
        </a>
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "ok" %} {% trans 'Save' %}
        </button>
    {% endbuttons %}
</form>

{% endblock %}

{% block more_js %}
<script src="{% static 'jquery/jquery.formset.js' %}"></script>
<script>
    var cond_nu = 0;
    var act_nu = 0;

    function setElementVisibility(prefix, form_nu, elt, display_mode) {
        var node = document.getElementById('id_' + prefix + '-' + form_nu + '-' + elt);
        if (!node) alert('Node not found for:' + 'id_' + prefix + '-' + form_nu + '-' + elt);
        if (node.parentNode)
            node.parentNode.style.display = display_mode;
        else
            node.style.display = display_mode;
    }

    function hideElement(prefix, form_nu, elt) {
        setElementVisibility(prefix, form_nu, elt, 'None');
    }

    function showElement(prefix, form_nu, elt) {
        setElementVisibility(prefix, form_nu, elt, 'Block');
    }

    function hideShowConditionFields(form_nu) {
        var prefix = 'condition';
        var condtype = document.getElementById('id_condition-' + form_nu + '-conditiontype');
        var value = condtype.options[condtype.selectedIndex].value;
        var valuefields = [ 'csensor_name', 'testtype', 'cvalue', 'duration' ];
        var timefields = [ 'starttime', 'endtime', 'alldays', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday' ];
        var statusfields = [ 'csensor_name2', 'testtype2', 'cvalue2' ];
        var suntimefields = [ 'sunevt', 'sunoffset', 'sundelay', 'alldays', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday' ];

        if (value == 'thresholdcond') {
            for (i in valuefields) showElement(prefix, form_nu, valuefields[i]);
            for (i in timefields) hideElement(prefix, form_nu, timefields[i]);
            for (i in statusfields) hideElement(prefix, form_nu, statusfields[i]);
            for (i in suntimefields) hideElement(prefix, form_nu, suntimefields[i]);
        }
        else if (value == 'timecond') {
            for (i in valuefields) hideElement(prefix, form_nu, valuefields[i]);
            for (i in statusfields) hideElement(prefix, form_nu, statusfields[i]);
            for (i in suntimefields) hideElement(prefix, form_nu, suntimefields[i]);
            for (i in timefields) showElement(prefix, form_nu, timefields[i]);
        }
        else if (value == 'statuscond') {
            for (i in valuefields) hideElement(prefix, form_nu, valuefields[i]);
            for (i in timefields) hideElement(prefix,form_nu, timefields[i]);
            for (i in statusfields) showElement(prefix, form_nu, statusfields[i]);
            for (i in suntimefields) hideElement(prefix, form_nu, suntimefields[i]);
        }
        else if (value == 'suntimecond') {
            for (i in valuefields) hideElement(prefix, form_nu, valuefields[i]);
            for (i in timefields) hideElement(prefix,form_nu, timefields[i]);
            for (i in statusfields) hideElement(prefix, form_nu, statusfields[i]);
            for (i in suntimefields) showElement(prefix, form_nu, suntimefields[i]);
        }
    }

    hideShowConditionFields('0');

    document.getElementById('id_condition-0-conditiontype').onchange = function() {
        hideShowConditionFields('0');
    }

    function hideShowActionFields(form_nu) {
        var prefix = 'action';
        var actiontype = document.getElementById('id_action-' + form_nu + '-actiontype');
        var value = actiontype.options[actiontype.selectedIndex].value;
        var actionfields = [ 'asensor_name', 'avalue' ];
        var emailfields = [ 'email', 'subject', 'content' ];

        if (value == 'sensorcmd') {
            for (i in actionfields) showElement(prefix, form_nu, actionfields[i]);
            for (i in emailfields) hideElement(prefix, form_nu, emailfields[i]);
        }
        else if (value == 'emailcmd') {
            for (i in actionfields) hideElement(prefix, form_nu, actionfields[i]);
            for (i in emailfields) showElement(prefix, form_nu, emailfields[i]);
        }
    }
    hideShowActionFields('0');

    document.getElementById('id_action-0-actiontype').onchange = function() {
        hideShowActionFields('0');
    }

    $('.condition-formset').formset({
        prefix: 'condition',
        addText: "{% trans 'Add Condition' %}",
        deleteText: "{% trans 'Remove Condition' %}",
        added: function() {
            cond_nu++;
            hideShowConditionFields(cond_nu);
            document.getElementById('id_condition-' + cond_nu + '-conditiontype').onchange = function() {
                hideShowConditionFields(cond_nu);
            }
        },
        removed: function() {
            cond_nu--;
        }
    });
    $('.action-formset').formset({
        prefix: 'action',
        addText: "{% trans 'Add Action' %}",
        deleteText: "{% trans 'Remove Action' %}",
        added: function() {
            act_nu++;
            hideShowActionFields(act_nu);
            document.getElementById('id_action-' + act_nu + '-actiontype').onchange = function() {
                hideShowActionFields(act_nu);
            }
        },
        removed: function() {
            act_nu--;
        }
    });

    // TODO: write the validation function
</script>
{% endblock %}