{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Add a new Controller" %}{% endblock %}
{% block content %}

<legend>{% trans 'Register your Domopi Box in your Account' %}</legend>
<form action="{% url 'controller_add' %}" method="post">
    {% bootstrap_form form %}
    {% bootstrap_form_errors form %}
    {% csrf_token %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {% trans 'Register' %}
        </button>
    {% endbuttons %}
</form>

{% endblock %}
