{% include "common/header.html" %}
{% load i18n %}

{% if controllers.count == 0 %}
<br>{% trans "You have no Domopi Box registered yet !" %}
{% else %}
<table>
    <tr><th>Controller Key</th><th>{% trans "Description" %}</th><th>{% trans "Action" %}</th></tr>
{% for contr in controllers %}
    <tr>
        <td>{{ contr.key }}</td>
        <td>{{ contr.description }}</td>
        <td>
            <a href="{% url 'sensors_list' key=contr.key %}">{% trans "Manage Sensors" %}</a>
            <a href="{% url 'controller_setdescr' key=contr.key %}">{% trans "Set Description" %}</a>
            <a href="{% url 'controller_delete' key=contr.key %}">{% trans "Delete from Account" %}</a>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% include "common/footer.html" %}