{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Login Page" %}{% endblock %}
{% block content %}

<legend>{% trans "Connect to your Account:" %}</legend>
<form action="/frontend/auth/login" method="post">
    {% bootstrap_form form %}
    {% bootstrap_form_errors form %}
    {% csrf_token %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {% trans 'Connect' %}
        </button>
    {% endbuttons %}
</form>
{% endblock %}
